@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.babas-font {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none; /* Ensures text appears as typed */
}

p,
a {
  font-family: "Roboto", sans-serif; /* or another font */
}

.react-datepicker {
  width: 250px !important; /* Adjust width as needed */
}

.slick-prev,
.slick-next {
  color: red !important;
}

.slick-arrow:before {
  color: red;
  font-size: 50px;
}

.slick-slide > div {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  /* Adjust for larger screens */
  .slick-slide > div {
    margin: 0 15px;
  }
}

/* .slick-next {
  right: 10px; 
}

.slick-prev {
  left: 10px; 
} */
